.loadingIcon {
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-timing-function: linear;
  height: 5rem;
  margin: 0;
  width: 5rem;
}

.loadingIconPath {
  fill: #28a47d;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
